<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Abjuration</title>

    <!-- CSS -->
    <link href="../stylesheets/abjuration.css" rel="stylesheet">

    <!-- JAVASCRIPT -->
    <script src="../javascript/abjuration/loader.js"></script>
</head>
<body onload="Loader = new loader(-1, {debug: true, canvas: document.getElementById('canvasGame')}, true)">

<div id="canvasContainer">
    <canvas id="canvasGame" width="640" height="480"></canvas>
</div>

</body>
</html>